
<div class="text-center">
  <div class="logo">
    <img src="images/firepokerlogo.png" alt=""> FirePoker.io
  </div>
  <div class="lead vspace">
    <p>Planning poker&reg;, also called Scrum poker, is a consensus-based 
    technique for estimating, mostly used to estimate effort or relative size of 
    user stories in <a href="http://en.wikipedia.org/wiki/Software_development" title="Software development" target="_blank">software development</a>. 
    In planning poker, members of the group make estimates by playing numbered 
    cards face-down to the table, instead of speaking them aloud. The cards are 
    revealed, and the estimates are then discussed. By hiding the figures in 
    this way, the group can avoid the cognitive bias of 
    <a href="http://en.wikipedia.org/wiki/Anchoring" title="Anchoring" target="_blank">anchoring</a>, where the first 
    number spoken aloud sets a precedent for subsequent estimates.
    </p>
    <p>To read more, check out the <a href="http://en.wikipedia.org/wiki/Planning_poker" target="_blank">Wikipedia</a> page.</p>
  </div>
  <div class="call">
    <p><a href="#/games/new" class="btn btn-danger btn-lg btn-start">Start playing</a></p>
  </div>
  <div class="vspace">
    <p class="lead">Project built with <a href="http://www.angularjs.org/" target="_blank">AngularJS</a> and <a href="http://www.firebase.com" target="_blank">Firebase</a> at <a href="http://www.wizehive.com/" target="_blank">WizeHive</a>.</p>
  </div>
  <div ng-show="showSocialButtons" class="vspace">
    <!-- github -->
    <iframe src="https://ghbtns.com/github-btn.html?user=Wizehive&amp;repo=Firepoker&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
    <iframe src="https://ghbtns.com/github-btn.html?user=Wizehive&amp;repo=Firepoker&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
    <!-- hackernews -->
    <a href="http://news.ycombinator.com/submit" class="hn-share-button" data-title="Firepoker.io - Planning Poker built with AngularJS and Firebase" data-url="http://firepoker.io/">Vote on HN</a>
    <script type="text/javascript">
        (function(d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = '//hnbutton.appspot.com/static/hn.min.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
    <!-- twitter -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://firepoker.io" data-text="Agile Planning Poker built with AngularJS and Firebase" data-via="wizehive" data-hashtags="firepoker.io">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <!-- facebook -->
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffirepoker.io%2F&amp;width=100&amp;height=20&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:20px;" allowTransparency="true"></iframe>  
    <!-- google+ -->
    <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="100" data-href="http://firepoker.io/"></div>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
  </div>
</div>

<div class="vspace text-center">
  <p>Planning Poker&reg; is a registered trademark of <a href="http://www.mountaingoatsoftware.com/" target="_blank">Mountain Goat Software, LLC</a>.</p>
</div>

